.App {
  text-align: center;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.App-header {
  background-color: #282c34;
  flex: 0 0 100px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

